@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 800;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/l/font?kit=k3k6o8UDI-1M0wlSV9XAw6lQkqWY8Q82sJaRE-NWIDdgffTTtDRp9QV7CQuoF4AUZihd8xd8miFdX_XaDc0WjC0&skey=8131191f4580dfcb&v=v25) format('woff2');
  unicode-range: U+26, U+41-49, U+4b-50, U+52-57, U+59;
}
