@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=-F63fjptAgt5VM-kVkqdyU8n5i04j3dEpM4wMv5I5rHZ-pkRl_CmU41ScJF6GGUqZ1Bzw0RghoMvS_og-RUiQJIkGN2MHhr6_ann7eafQ3rJIRt8jhHAWT6dJrEmO_GLL3mSNZw8cmn_ahv_AQeWnypvDw&skey=b40c83751ce1954d&v=v20) format('woff2');
  unicode-range: U+20-21, U+23-5b, U+5d-5f, U+61-7a, U+7c, U+7e, U+fffd;
}
